<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">

    <title>Rafael Martins</title>

    <link rel="stylesheet" href="./public/main.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="public/images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>

</head>

<body>

    <section class="section" id="section-1">
        <img src="public/images/profile.jpeg" title="profile-image" id="profile-image">
        <div class="col-12 content">
            <h1 class="typewrite" data-period="500"
                data-type='[ "Hi, I am Rafael Martins _<", "Known As Full Stack Developer _<"]'>
                <span class="wrap"></span>
            </h1>
        </div>
        <a href="#section-2" id="get-to-know-button" class="btn btn-outline-success">Get To Know Me Better</a>
    </section>
    <section class="section section-divider">
        <header class="section-header">
            <div id="bill-quote">
                <h1>
                    <i>
                        “Measuring programming progress by lines of code is like measuring aircraft building progress by
                        weight.”
                    </i>
                </h1>
                <h3><b>By Bill Gates</b></h3>
            </div>
            <div id="jonh-quote">
                <h1>
                    <i>
                        “First, solve the problem. Then, write the code.”
                    </i>
                </h1>
                <h3><b>By John Johnson</b></h3>
            </div>
        </header>

        <img src="public/images/explore.jpg">
    </section>
    <section class="section" id="section-2">
        <header class="section-header">
            <h1>About Me</h1>
        </header>
        <div class="row " id="description-marged">
            <div class="col col-content" id="description-info">
                Started over 5 months as a trainee in the system administration sector, at this time I was involved
                in several internal projects, mostly as server setup, based on pure UNIX or Docker. Some other
                activities were done, such as internal user helpdesk, starting from clients to company developers,
                allowing the management of some new technologies like SVN, Bugzilla, Jenkins and additionally Xwiki,
                for work documentation.<br><br>

                After the trainee time, a junior developer contract has been presented due to my coding experience,
                having in mind my high school experience and my future ambitious. With over 2 years and 6 months of
                working as a junior developer, a lot of team work, new technologies have been used in some
                internal company IT projects, especially in the public sector projects like “Segurança
                Social”.<br><br>

                By this, I was able to work my teamwork skills, leadership and loyalty, where a new level of healthy
                pressure was installed while
                the task was being done. Always showed a motivated and good-humored side looking always for the good
                side of the problems in order
                to overcome them.<br><br>

                The most challenging projects I was involved in, have been the ones where I was responsible for all
                the project management,
                since architecture, problems corrections, new feature development, all by my own, having in mind
                every time the client satisfaction,
                mostly these projects were based on Liferay, Java, JSF, SOAP, REST Web Services and MySQL, being
                these technologies the main feature
                of them
            </div>
            <div class="col" id="description-images">
                <div class="row">
                    <div class="col"><img src="public/images/technologies/liferay.png"></div>
                    <div class="col"><img src="public/images/technologies/javaee.png"></div>
                    <div class="col"><img src="public/images/technologies/jpa.jpg"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col"><img src="public/images/technologies/jsf.jpg"></div>
                    <div class="col"><img src="public/images/technologies/mysql.jpg"></div>
                    <div class="col"><img src="public/images/technologies/docker.jpeg"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col"><img src="public/images/technologies/linux.png"></div>
                    <div class="col"><img src="public/images/technologies/nodejs.png"></div>
                </div>
            </div>
        </div>
    </section>



    <section class="section" id="section-3">
        <header class="section-header">
            <h1>Principle Projects Envolved</h1>
        </header>
        <div class="row" id="cards-row">
            <div class="card">
                <div class="card-body">
                    <img src="public/images/projects/puc.jpg" class="card-img-top" alt="PUC"><br>
                    <h6 class="card-subtitle mb-2 text-muted normal-card-title">Livro de Reclamações Online
                    </h6>
                    <a href="https://www.livroreclamacoes.pt" target="_blank"
                        class="btn btn-outline-success check-website">Ver</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="public/images/projects/igac.jpg" id="igac-image" class="card-img-top" alt="IGAC"><br>
                    <h6 class="card-subtitle mb-2 text-muted normal-card-title">Portal IGAC</h6>
                    <a href="https://www.igac.pt" target="_blank" class="btn btn-outline-success check-website">Ver</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="public/images/projects/humanpersi.jpg" class="card-img-top" alt="humanpersi"><br>
                    <h6 class="card-subtitle mb-2 text-muted normal-card-title">Portal Humanpersi</h6>
                    <a href="https://www.humanpersi.pt" target="_blank"
                        class="btn btn-outline-success check-website">Ver</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="public/images/projects/portugal-voluntario.png" id="cases-image" class="card-img-top"
                        alt="cases"><br>
                    <h6 class="card-subtitle mb-2 text-muted " style="margin-top: 32%;">Portugal Voluntário</h6>
                    <a href="https://www.portugalvoluntario.pt" target="_blank"
                        class="btn btn-outline-success check-website">Ver</a>
                </div>
            </div>
        </div>
    </section>

    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>

    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Rafael Martins</small>
        </div>
    </footer>

</body>

</html>